<IfModule mod_rewrite.c>
  
RewriteEngine On

 Redirect from http:// and https://www to https://instacapture.ro (non-www)
 RewriteCond %{HTTP_HOST} ^(www\.)?instacapture\.ro [NC,OR]
 RewriteCond %{HTTP_HOST} ^instacapture\.ro [NC]
 RewriteCond %{HTTPS} off
 RewriteRule ^(.*)$ https://instacapture.ro/$1 [L,R=301]

 RewriteCond %{HTTP_HOST} ^www\.instacapture\.ro [NC]
 RewriteRule ^(.*)$ https://instacapture.ro/$1 [L,R=301]

    # Internal rewrite to public directory
    RewriteRule ^$ public/ [L]
    RewriteRule (.*) public/$1 [L]
</IfModule>