
@tailwind base;
@tailwind components;
@tailwind utilities;



/* styles.css */

[x-cloak] { display: none !important; }

nav ul li a {
    position: relative;
    padding-bottom: 0.5rem;
    display: inline-block;
    color: #e5e7eb; /* Tailwind gray-300 color */
  }
  
  nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #d1d5db; /* Tailwind gray-400 color */
    transition: width 0.3s ease;
  }
  
  nav ul li a:hover::after {
    width: 100%;
  }
  

       /* Ascunde scrollbar-ul implicit al body-ului */
    body {
      overflow: hidden;
  }

    /* Stilizare generală pentru scrollbar */

.overflow-y-auto::-webkit-scrollbar {
  width: 9px;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #facc15, #ffffff);
  border-radius: 3px;
}

.overflow-y-auto::-webkit-scrollbar-track {
  background-color: #d1d5db;
  border-radius: 3px;
}

/* Firefox */
.overflow-y-auto {
  scrollbar-width: thin;
  scrollbar-color: #facc15 #d1d5db;
}

/* Edge and IE */
.overflow-y-auto {
  -ms-overflow-style: auto;
}

.overflow-y-auto::-ms-scrollbar {
  width: 9px;
}

.overflow-y-auto::-ms-scrollbar-thumb {
  background: linear-gradient(to bottom, #facc15, #ffffff);
  border-radius: 3px;
}

.overflow-y-auto::-ms-scrollbar-track {
  background-color: #d1d5db;
  border-radius: 3px;
}
  /* Gradient pentru conținut */
  .content-gradient {
      background: linear-gradient(to left, rgba(0, 0, 0, 0.3), transparent);
  }
